<html>
    <head>
        <title>home</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    </head>
    <body>
        <div class="container.-fluid">
            <div class="col-md-offset-2 col-md-5">
                <form action="/updatedata/{{data.id}}" method="post" autocomplete="off">
                   {% csrf_token %}
                <h3 class="page-header text-primary text-center">registration</h3>
                <div class="form-group">
                    <label>name</label><input type="text" class="form-control" value="{{data.Name}}" name="name">
                </div>
                <div class="form-group">
                    <label>age</label><input type="text" class="form-control" value="{{data.Age}}" name="age">
                </div>
                <div class="form-group">
                    <label>address</label><input type="text" class="form-control" value="{{data.Address}}" name="address">
                </div>
                <div class="form-group">
                    <label>contact</label><input type="text" class="form-control" value="{{data.Contact}}"name="contact">
                </div>
                <div class="form-group">
                     <label>mail</label><input type="text" class="form-control" value="{{data.Mail}}" name="mail">
                </div>
                <div class="form-group">
                    <input type="submit" value="update" class="btn btn-primary">

                </div>
                </form>

            </div>

        </div>
    </body>
</html>